<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Template • TodoMVC</title>
        <!-- CSS overrides - remove if you don't need it -->
        <link rel="stylesheet" href="css/app.css">
</head>
<body>
<input id="current-list-id" type="hidden" data-value="{{ list.id }}">
<a href="/">Все списки</a> <a href="/logout">Выход</a>
<section class="todoapp">
        <header class="header">
                <h1>{{ list.title }}</h1>
                <input class="new-todo" placeholder="What needs to be done?" autofocus>
        </header>
        <!-- This section should be hidden by default and shown when there are todos -->
        <section class="main">
                <input id="toggle-all" class="toggle-all" type="checkbox">
                <label for="toggle-all">Mark all as complete</label>
                <ul class="todo-list">
                {% set count_actives = 0 %}
                {% set count_completed = 0 %}
                {% for item in list.items %}
                        <li id="todo-item-{{ item.id }}"{% if item.is_completed %}class="completed"{% endif %} data-item-id="{{ item.id }}">
                                <div class="view">
                                        <input class="toggle" type="checkbox"{% if item.is_completed %} checked{% endif %}>
                                        <label class="todo-item-title">{{ item.title }}</label>
                                        <button class="destroy" data-id="{{ item.id }}"></button>
                                </div>
                                <input class="edit" value="{{ item.title }}">
                        </li>
                        {% if item.is_completed %}
                                {% set count_completed = 1 + count_completed %}
                        {% else %}
                                {% set count_actives = 1 + count_actives %}
                        {% endif %}
                {% endfor %}
                </ul>
        </section>
        <!-- This footer should hidden by default and shown when there are todos -->
        <footer class="footer" data-items-count="{{ list.items|length }}">
                <!-- This should be `0 items left` by default -->
                <span class="todo-count"><strong>{{ count_actives }}</strong> item left</span>
                <ul class="filters">
                        {% for key,label in filters %}
                        <li>
                                <span {% if loop.first %}class="selected"{% endif %} data-filter="{{ key }}">{{ label }}</span>
                        </li>
                        {% endfor %}
                </ul>
                <!-- Hidden if no completed items are left ↓ -->
                <button class="clear-completed"{% if count_completed == 0 %} hidden {% endif %}>Clear completed</button>
        </footer>
</section>
<footer class="info">
        <p>Double-click to edit a todo</p>
        <!-- Remove the below line ↓ -->
        <p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
        <!-- Change this out with your name and url ↓ -->
        <p>Created by <a href="http://todomvc.com">you</a></p>
        <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
<script type="text/html" id='todo-item-template'>
        <% _.each(items, function(item) { %>
                <li id="todo-item-<%= item.id %>"<% if (item.is_completed) { %>class="completed"<% } %> data-item-id="<%= item.id %>">
                        <div class="view">
                                <input class="toggle" type="checkbox"<% if (item.is_completed) { %> checked<% } %>/>
                                <label class="todo-item-title"><%= item.title %></label>
                                <button class="destroy" data-id="<%= item.id %>"></button>
                        </div>
                        <input class="edit" value="<%= item.title %>">
                </li>
        <% }) %>
</script>
<!-- Scripts here. Don't remove ↓ -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="js/underscore.js"></script>
<script src="js/app.js"></script>
</body>
</html>
