<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Twig Example</title>
</head>
<body>
<h1>Hello, {{ user }} <a href="/logout">Выход</a></h1>

{% if lists|length == 0 %}
    <div>
        <h2>Пока пусто :(</h2>
    </div>
{% else %}
    <ul>
        {% for item in lists %}
        <li><a href="/lists?id={{ item.id }}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
<form method="post">
    <label for="todolist-name">Создание нового списка</label>
    <div>
        <input type="text" name="title" placeholder="Наименование"/>
    </div>
    <input type="submit" value="Создать">
</form>
</body>
</html>