<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Twig Example</title>
</head>
<body>

    {% if errors %}
        <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        <input name="login" type="text" placeholder="Login">
        <input name="password" type="password" placeholder="Password">
        <button type="submit">LOGIN</button>
    </form>
    <a href="/registration">Регистрация</a>
</body>
</html>