<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
</head>
<body>

{% if errors %}
<ul>
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post">
    <input name="login" type="text" placeholder="Login">
    <input name="password" type="password" placeholder="Password">
    <input name="password2" type="password" placeholder="Password2">
    <button type="submit">REGISTRATION</button>
</form>
<a href="/login">Вход</a>
</body>
</html>